/* Navbar */

.navbar {
    z-index: 1000;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-nav li.active > a {
    color: #fff !important;
    text-decoration: none !important;
}

.navbar-nav li > a {
    color: #fff !important;
}

.navbar-nav .nav-item a:hover {
    color: #0c2428 !important;
    transition: background 0.3s ease-in;
    text-decoration: none !important;
}

.product-card {
    -webkit-backface-visibility: hidden; /* the magic ingredient */
    -moz-transform: skew(-8deg, 0deg);
    -webkit-transform: skew(-8deg, 0deg);
    -o-transform: skew(-8deg, 0deg);
    -ms-transform: skew(-8deg, 0deg);
    transform: skew(-8deg, 0deg);
}

.product-card img {
    position: relative;
    width: 100%;
}

.background-primary {
    background: #0071bc;
}

#technologies i {
    font-size: 7em;
}

#technologies img {
    vertical-align: middle;
    width: 7em;
    height: 7em;
}

#technologies .card {
    background-color: transparent;
    border: none;
}

.circle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle-icon {
    color: #0071bc;
    text-shadow: -2px 0px 12px rgba(0, 0, 0, 0.30);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #0c2428;
}

#pound {
    position: absolute;
    left: 246px;
    top: 104px;
}

#dollar {
    position: absolute;
    left: -38px;
    top: 164px;
}

#yen {
    position: absolute;
    left: -128px;
    top: -83px;
}

#euro {
    position: absolute;
    left: 106px;
    top: -136px;
}

#rupee {
    left: 53px;
    top: 21px;
}

.bg-tradesync {
    background: #2a1785;
}

.txt-tradesync {
    color: #2a1785;
}

/*Phones */

@media only screen and (max-width: 750px) {

    .navbar-brand {
        width: 55%;
    }


    .contact-form {
        padding-top: 10px;
    }
}


