/* Navbar */

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-nav li.active > a {
    color: #fff !important;
    text-decoration: none !important;
}

.navbar-nav li > a {
    color: #fff !important;
}

.navbar-nav .nav-item a:hover {
    color: #0c2428 !important;
    transition: background 0.3s ease-in;
    text-decoration: none !important;
}

.background-primary {
    background: #0071bc;
}

#technologies i {
    font-size: 7em;
}

#technologies p {
    color: white;
}

#technologies .tech-img {
    vertical-align: middle;
    width: 7em;
    height: 7em;
}

#technologies .card {
    margin-bottom: 5px;;
}

#technologies .tech-card {
    background: transparent;
    border: 0;
    text-align: center;
}

#technologies .txt-card {
    height: 313px;
    background: transparent;
    border: 0;
    text-align: center;
}

#technologies .card-image-holder {
    height: 154px;
    border: 0;
    background-color: transparent;
}

#technologies .card-img {
    height: 100%;
    background-image: url('../images/content/card-img-2.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
}


.circle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle-icon {
    color: #0071bc;
    text-shadow: -2px 0px 12px rgba(0, 0, 0, 0.30);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #0c2428;
}

#pound {
    position: absolute;
    left: 246px;
    top: 104px;
}

#dollar {
    position: absolute;
    left: -38px;
    top: 164px;
}

#yen {
    position: absolute;
    left: -128px;
    top: -83px;
}

#euro {
    position: absolute;
    left: 106px;
    top: -136px;
}

#rupee {
    left: 53px;
    top: 21px;
}

i {
    transition: 0.2s;
}

.background-primary {
    transition: 0.2s;
}

.background-primary:hover {
    color: #0071bc;
    background: white;
}

i:hover {
    color: #0071bc;

}

.contact-form {
    min-height: 463px;
}

/*Phones */

@media only screen and (max-width: 750px) {

    .navbar-brand {
        width: 55%;
    }

    #intro {
        padding-bottom: 22%;
    }

    #priorities, #product, #technologies, #about, #contact {
        padding-top: 22%;
        padding-bottom: 22%;
    }


    .contact-form {
        padding-top: 10px;
    }
}


