.intro-container p {
    color: #0c2428;
}

.about-container .icon {
    font-size: 5em;
    text-shadow: -2px 0px 12px rgba(0, 0, 0, 0.49);
}

.product-container .icon {
    font-size: 3em;
}

.stt-partition {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.contact-header {
    padding-bottom: 5%;
}

.icon {

}

.tradesync-partition .card {
    background-color: transparent;
    border: none;
}

.stt-partition .card {
    background-color: transparent;
    border: none;
}


.about-container .card {
    background: transparent;
    border: none;
}

.about-container i,
.about-container h1,
.about-container h3,
.about-container p,
#contact h1,
#technologies h1 {
    color: #f1f1f0;
}

.product-container {
    padding-right: 5%;
    padding-left: 5%;
}

.stt-container {
    padding: 0;
    height: 100%;
    margin: 0;
}

.stt {
    position: relative;
    width: 100%;

}

#tri {
    position: absolute;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    background: #0071bc;
}

#tri polyline {
    fill: #ffffff;
}

