.intro-container p {
    color: #0c2428;
}

.about-container .icon {
    font-size: 5em;
    text-shadow: -2px 0px 12px rgba(0, 0, 0, 0.49);
}

.product-container .icon {
    font-size: 3em;
}

.product {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

}

.icon {

}

.card {
    background: transparent;
    border: none;
}

.about-container i,
.about-container h1,
.about-container h3,
.about-container p {
    color: #f1f1f0;
}

.product-container {
    padding-right: 5%;
    padding-left: 5%;
}

.stt-partition {
    padding-top: 5%;
    padding-bottom: 10%;
}

#about {
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgb(1, 129, 214);
    background: -moz-linear-gradient(319deg, rgba(1, 129, 214, 1) 0%, rgba(0, 113, 188, 1) 100%);
    background: -webkit-linear-gradient(319deg, rgba(1, 129, 214, 1) 0%, rgba(0, 113, 188, 1) 100%);
    background: linear-gradient(319deg, rgba(1, 129, 214, 1) 0%, rgba(0, 113, 188, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0181d6", endColorstr="#0071bc", GradientType=1);
}