html {
    height: 100%;
}

body {
    margin: 0;
    background-attachment: fixed;
    height: 100%;
}

/* ---Sections--- */

section {
    padding-top: 7%;
    padding-bottom: 7%;
    position: relative;
    overflow: hidden;
}

/* Intro Section */

#intro {
    padding-top: 0;
    background: url('../images/svg/slant.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 11%;
    position: relative;
    z-index: 5;
}

#intro::before {
    content: "";
    background-image: url("../images/content/currency-market.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

/* Priotity section */

#priorities {
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(55, 72, 75);
    background: linear-gradient(90deg, rgba(55, 72, 75, 1) 0%, rgba(12, 36, 40, 1) 100%);
}

/* Product section */

#product {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ededed", GradientType=1);
    z-index: 5;
}

#product::before {
    content: "";
    background-image: url("../images/content/code.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

/* Technologies Section */

#technologies {
    background: rgb(1, 153, 238);
    background: linear-gradient(90deg, rgba(1, 153, 238, 1) 0%, rgba(0, 113, 188, 1) 100%);
}

/* About Section */



#about::before {
    content: "";
    background-image: url("../images/content/numbers.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}



@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}







.intro-header {
    padding-top: 5.3%;
}


.ts-container {
    padding-top: 0;
    padding-bottom: 0;
    background: rgb(55, 72, 75);
    background: linear-gradient(90deg, rgba(55, 72, 75, 1) 0%, rgba(12, 36, 40, 1) 100%);
}



#contact {
    background: #0071bc;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    color: #0071bc;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #0c2428;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.section-header {
    padding-bottom: 5%;
}

