html {
    height: 100%;
}

body {
    margin: 0;
    background-attachment: fixed;
    height: 100%;
}

section {
    padding-top: 11%;
    padding-bottom: 11%;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

#intro {
    padding-top: 0;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ededed", GradientType=1);
    z-index: -5;
}

.intro-container {
    padding-top: 10%;
}

#intro::after {
    content: "";
    background-image: url("../images/content/currency-market.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#product {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(133deg, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ededed", GradientType=1);
}

#priorities, #technologies, .ts-container {
    padding-top: 4%;
    padding-bottom: 4%;
    background: #0071bc;
}

#contact {
    background: #0071bc;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    color: #0071bc;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #0c2428;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

